@using HomeServiceTracker.Shared.Models.ServiceProviderInfo
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@attribute [Authorize]
@page "/serviceProviderInfo/{serviceProviderInfoId:int}"

<h3>Service Item #@serviceProviderInfoId</h3>

@if (ServiceProviderInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="container">
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <span>Service Item #@serviceProviderInfoId</span>
            </div>
            <div class="card-body">
                <h4 class="card-title">@ServiceProviderInfo.ServiceProviderName</h4>
                <p class="card-text">@ServiceProviderInfo.NumberOfServices</p>
                <p class="card-text">@ServiceProviderInfo.AverageServiceProviderRating</p>
                @*add more fields*@
            </div>
            <div class="card-footer text-muted d-flex justify-content-between">
                <span class="text-left">Created: [insert created date]</span>
@*                @if (ServiceProviderInfo.ModifiedUtc !=null)
                {
                    <span class="text-right">Modified: [insert modified date]</span>
                }*@
            </div>
        </div>
        <div class="d-flex justify-content-center mt-3">
            <div class="text-center justify-content-between w-25">
                <a href=@($"serviceProviderInfo/edit/{serviceProviderInfoId}") class="btn btn-outline-primary">Edit</a>
                <a href=@($"serviceProviderInfo/delete/{serviceProviderInfoId}") class="btn btn-outline-danger">Delete</a>

                <hr />
                <a href="/serviceProviderInfo/index">Back to Service Item Index</a>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public int serviceProviderInfoId { get; set; }
    public ServiceProviderInfoDetail ServiceProviderInfo { get; set; }
    protected override async Task OnInitializedAsync()
    {
        ServiceProviderInfo = await http.GetFromJsonAsync<ServiceProviderInfoDetail>($"/api/serviceProviderInfo/{serviceProviderInfoId}");
    }
}
