@using HomeServiceTracker.Shared.Models.ServiceProviderInfo
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@attribute [Authorize]

@page "/ServiceProviderInfo/Index"

<h3>Service Providers</h3>
<a href="/serviceProviderInfo/create" class="btn btn-success btn-block">Create a Service Provider</a>

@if (serviceProviderInfo == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                @*<th>Id</th>*@
                <th>Service Provider Name</th>
                <th>Average Rating</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ServiceProviderInfoListItem service in serviceProviderInfo)
            {
                <tr>
                    @*<td>@service.Id</td>*@
                    <td>@service.ServiceProviderName</td>
                    <td>@service.AverageServiceProviderRating</td>
                    <td>
                        <a href=@($"serviceProviderInfo/{service.Id}") class="btn btn-outline-primary">Details</a>
                        <a href=@($"serviceProviderInfo/edit/{service.Id}") class="btn btn-outline-secondary">Edit</a>
                        @*<a href=@($"serviceProviderInfo/delete/{service.Id}")>Delete</a>*@
                    </td>
                </tr>
            }
        </tbody>
    </table>   
}

@code {
    private List<ServiceProviderInfoListItem> serviceProviderInfo;
    protected override async Task OnInitializedAsync()
    {
        serviceProviderInfo = await http.GetFromJsonAsync<List<ServiceProviderInfoListItem>>("/api/serviceProviderInfo");
    }
}