@inherits LayoutComponentBase

    @*<header>*@
        <NavMenu />
    @*</header>*@


<div class="container">

@*    <main role="main" class="pb-3">
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>
    </main>*@
        @Body

</div>