@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication


<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" href="">HomeServiceTracker</a>
            <button class="navbar-toggler @NavButtonCssClass" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                    aria-controls="navbarCollapse" aria-label="Toggle navigation" type="button" @onclick="ToggleNavMenu">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse @NavMenuCssClass" id="navbarCollapse" @onclick="ToggleNavMenu">
            <ul class="navbar-nav">
                <li></li>
                <li class="nav-item pt-3">
                    <NavLink class="nav-link" href="homeInfo/Index">
                        <span class="oi oi-home" aria-hidden="true"></span> Homes
                    </NavLink>
                </li>
                <li class="nav-item pt-3">
                    <NavLink class="nav-link" href="serviceItem/Index">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Services
                    </NavLink>
                </li>
                <li class="nav-item pt-3">
                    <NavLink class="nav-link" href="scheduledService/Index">
                        <span class="oi oi-calendar" aria-hidden="true"></span> Scheduled Services
                    </NavLink>
                </li>
                <li class="nav-item pt-3">
                    <NavLink class="nav-link" href="serviceProviderInfo/Index">
                        <span class="oi oi-people" aria-hidden="true"></span> Service Providers
                    </NavLink>
                </li>
            </ul>
        </div>
        <LoginDisplay />
    </div>
</nav>

@code {
    private bool collapseNavMenu = true;

    //private string baseMenuClass = "navbar-collapse d-sm-inline-flex flex-sm-row-reverse";
    private string? NavMenuCssClass => collapseNavMenu ? null : "show";
    private string? NavButtonCssClass => collapseNavMenu ? "collapsed" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
