@page "/"

<PageTitle>HomeServiceTracker | Home Page</PageTitle>

<h1>HomeServiceTracker</h1>

<p>Properly maintaining a home requires the homeowner to perform regular maintenance services.
    For new homeowners especially, it can be hard to know what maintenance needs to be done and the frequency at which it needs to be done.
    There is no set way to plan and track these services, and as a result the burden falls on the homeowner to keep up with it all.</p>
<p><span class="fw-bold">HomeServiceTracker</span> allows you to document and track Homes, Services, Scheduled Services, and Service Providers to help your home be properly kept.</p>

<div class="row row-cols-1 row-cols-md-2 g-4">
    <div class="col">
        <div class="card h-auto shadow-sm">
            @*                <a href=@("/homeInfo/index")>
            <img src=""
            class="card-img-top h-25" alt="Home Image">
            </a>*@
            <a href=@("/homeInfo/index") style="text-decoration:none; color:inherit">
                <div class="card-body">
                    <h5 class="card-title">Home Info</h5>
                    <p class="card-text">View List of current Homes, add a new Home, view Home details, and edit or delete a Home</p>
                </div>
            </a>
        </div>
    </div>


    <div class="col">
        <div class="card h-auto shadow-sm">
            <a href=@("/serviceItem/index") style="text-decoration:none; color:inherit">
                <div class="card-body">
                    <h5 class="card-title">Services</h5>
                    <p class="card-text">View list of available Service types, add a new Service, view Service details, and edit or delete a Service</p>
                </div>
            </a>
        </div>
    </div>

    <div class="col">
        <div class="card h-auto shadow-sm">
            @*                <a href=@("/homeInfo/index")>
            <img src=""
            class="card-img-top h-25" alt="Home Image">
            </a>*@

            <a href=@("/scheduledService/index") style="text-decoration:none; color:inherit">
                <div class="card-body">
                    <h5 class="card-title">Scheduled Services</h5>
                    <p class="card-text">View current and prior Scheduled Services, create a new Scheduled Service, view details, and edit or delete a Scheduled Service</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    @*                <a class="btn btn-outline-primary" href=@("/homeInfo/index")>See All Homes</a>*@
                </div>
            </a>
        </div>
    </div>

    <div class="col">
        <div class="card h-auto shadow-sm">
            @*                <a href=@("/homeInfo/index")>
            <img src=""
            class="card-img-top h-25" alt="Home Image">
            </a>*@

            <a href=@("/serviceProviderInfo/index") style="text-decoration:none; color:inherit">
                <div class="card-body">
                    <h5 class="card-title">Service Providers</h5>
                    <p class="card-text">View list previously used Service Providers, add a Service Provider, view Service Provider details, edit or delete a Service Provider</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                    @*                <a class="btn btn-outline-primary" href=@("/homeInfo/index")>See All Homes</a>*@
                </div>
            </a>
        </div>
    </div>

@*    <div class="col">
        <div class="card h-auto">

            <div class="card-body">
                <h5 class="card-title">Home Info</h5>
                <p class="card-text">List of Current Homes</p>
                <a class="btn btn-outline-primary" href=@("/homeInfo/index")>See All Homes</a>
            </div>
        </div>
    </div>*@

</div>