@using HomeServiceTracker.Shared.Models.ScheduledService
@using HomeServiceTracker.Shared.Models.ServiceItem
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@attribute [Authorize]

@page "/ScheduledService/Index"

<h3>Scheduled Services</h3>
<a href="/scheduledService/create" class="btn btn-success btn-block">Schedule a Service</a>

@if (scheduledService == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Scheduled Service Date</th>
                <th>Service Item</th>
                <th>Service Completed?</th>
                <th>Options</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ScheduledServiceListItem service in scheduledService)
            {
                <tr>
                    <td>@service.ScheduledServiceDate.GetValueOrDefault().ToShortDateString()</td>
                    <td>@service.ServiceName</td>
                    <td>@service.ServiceCompleted</td>
                    <td>
                        <a href=@($"scheduledService/{service.Id}") class="btn btn-outline-primary">Details</a>
                        <a href=@($"scheduledService/edit/{service.Id}") class="btn btn-outline-secondary">Edit</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<ScheduledServiceListItem> scheduledService;

    protected override async Task OnInitializedAsync()
    {
        scheduledService = await http.GetFromJsonAsync<List<ScheduledServiceListItem>>("/api/scheduledService");
    }
}