@using HomeServiceTracker.Shared.Models.HomeInfo
@using Microsoft.AspNetCore.Authorization
@inject HttpClient http
@attribute [Authorize]
@page "/homeInfo/{homeId:int}"

<h3>Home Info @HomeId</h3>

@code {
    [Parameter]
    public int HomeId { get; set; }
    public HomeInfoDetail HomeInfo { get; set; }
    protected override async Task OnInitializedAsync()
    {
        
    }
}
