@using HomeServiceTracker.Shared.Models.HomeInfo
@using Microsoft.AspNetCore.Authorization
@inject HttpClient Http
@*commented out the authorization below for testing purposes, as I have not worked out the authorization yet*@
@*@attribute [Authorize]*@

@page "/HomeInfo/Index"

<h3>Home Info</h3>

@code {

}
